/node_modules
node_modules/.yarn-integrity
node_modules/**/*

# macOS
.DS_Store

*/log/*

yarn-error.log

# vsCode
*/.vscode/*
!*/.vscode/settings.json
!*/.vscode/tasks.json
!*/.vscode/launch.json
!*/.vscode/extensions.json

#user's config
dev.ts
prod.ts
server/logs/*