export default {
  server: {
    protocol: 'http://',
    name: '192.168.0.73',
    port: 3649
  },
  apiPath: 'api',
  debug: {
    showWarnings: true,
    useMockup: true,
    deviceId: '11B67E8B-9D5D-4D39-B22B-72FE93154536',
  }
};
